<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
   
<mapper namespace="com.fh.shop.admin.mapper.brand.IBrandMapper">

	<sql id="brandWhere">
		<where>
			<if test="brandName != null and brandName != ''">
				brandName like concat('%',#{brandName},'%')
			</if>
		</where>
	</sql>
	
 <select id="findListCount" parameterType="com.fh.shop.admin.param.brand.BrandSearchParam" resultType="long">
	  select count(*) from t_brand
	  <include refid="brandWhere"></include>
 </select>
	
	<select id="findPageList" parameterType="com.fh.shop.admin.param.brand.BrandSearchParam" resultType="com.fh.shop.admin.po.brand.Brand">
		select t.* from (
		select id,brandName,hot,sort,logo from t_brand
		<include refid="brandWhere"></include>
		order by hot desc,sort desc) t
		limit #{start},#{length}
	</select>


	<select id="findBrandList" parameterType="com.fh.shop.admin.param.brand.BrandSearchParam" resultType="com.fh.shop.admin.po.brand.Brand">
		select id,brandName,hot,sort,logo from t_brand
		<include refid="brandWhere"></include>
		order by hot desc,sort desc
	</select>






</mapper>